a {
    font-family: 'Montserrat', sans-serif; 
    color: black;
    text-decoration: none;
}
.card-header {
    padding: auto;
    font-family: 'Montserrat', sans-serif; 
}

.card-body {
    font-family: 'Montserrat', sans-serif;
}
.alignleft {
    float: left;
}

.alignright {
    float: right;
}
.btn {
    outline-color: aqua;
    background-color: #87CEEB;
}
.card {
    padding: auto;
}

input {

    padding: 1%;
}
