<div class = 'container'>
        <h1>Add Comment</h1>
        <div class="card my-5">
            <div class="card-body">
                <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                   
                <div class="form-group">
                    <label for="Comment">UserId</label>
                    <input type="number" [(ngModel)]="comment.userid" 
                        class="form-control" id="userid" name="name" placeholder="User Id"
                        required #userid="ngModel">
                    </div>
                    <div class="form-group">
                      <label for="Comment">Comment</label>
                      <input type="text" [(ngModel)]="comment.body" 
                        class="form-control" id="body" name="name" placeholder="text goes here"
                        required #body="ngModel">
                    </div>
                    <button type="submit" class="btn btn-info">Submit</button>    
                </form>
                
                </div>
                    </div>
                
    </div>
    