<div class = 'container'>
    <h1>Add Blog</h1>
    <div class="card my-5">
            <div class="card-body">
              <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                <div class="form-group">
                  <label for="Post">Title</label>
                  <input type="text" [(ngModel)]="post.title" 
                    class="form-control" id="name" name="name" placeholder="Title"
                    required #title="ngModel">
                </div>
                
                <div class="form-group">
                  <label for="postText">Post</label>
                  <input type="text" [(ngModel)]="post.postText" 
                    class="form-control" id="postText" name="name" placeholder="PostText"
                    required #postText="ngModel">
                </div>
                <div class="form-group">
                  <label for="imageURL">Image URL</label>
                  <input type="text" [(ngModel)]="post.imageURL"
                         class="form-control" id="imageURL" name="imageURL" placeholder="imageURL"
                         required #imageURL="ngModel">
                </div>
                 <div class="form-group">
                  <label for="tag1">Select a tag</label>
                  <select class="form-control" [(ngModel)]="post.tag1"  [ngModelOptions]="{standalone: true}"  id="exampleFormControlSelect1">
                    <option>Java</option>
                    <option>Funny cuz its true</option>
                    <option>Funny cuz its sad</option>
                    <option>Funny</option>
                    <option>Puppy</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
              </form>
            </div>
          </div>
</div>
