h1 {
    text-align:center;
    font-family: 'Crimson Text', serif;
    padding-top:10px;
    color: black;
}

a {
    text-decoration-color: black;
    color: navy;
    text-decoration-line: none;
}
.btn{
    background: #87CEEB;
}


