
<div class="card-body" align="center">

<form class="form-horizontal" style="align-content: center">
  <fieldset>
    <legend>User Registration</legend>
    <div class="form-group">
      <div class="col-md-5">
        <input id="username" name="username" type="text" [(ngModel)]="user.username" placeholder="Username"
               class="form-control" required #username="ngModel">

        <input id="emailAddress" name="emailAddress" type="email" placeholder="Enter Email"
               [(ngModel)]="user.emailAddress" class="form-control" required #emailAddress="ngModel">

        <input id="password" name="password" type="password" placeholder="Password" [(ngModel)]="user.password"
               class="form-control" #password="ngModel" required>

      </div>
      <button type="submit" class="btn btn-info" (click)="onSubmit()">Submit</button>

    </div>
  </fieldset>
</form>
</div>
