<div class="popover-header clearfix">
<div class="card-body" align="right">
<div class="form-horizontal">
  <form>
    <fieldset>
      <div class="row">
      <div class="form-group">
        <div class="col-sm-auto">
          <input id="username" name="username" type="text" [(ngModel)]="user.username" placeholder="Username" class="form-control" #username = "ngModel" required>
        </div>
      </div>
        <div class="col-sm-auto">
          <input id="password" name="password" type="password" placeholder="Password" [(ngModel)]="user.password" class="form-control" #password = "ngModel" required>
        </div>
        <div class="col-sm-auto">
          <button type="submit" class="btn btn-info" (click)="onSubmit()">Submit</button>
      </div>
      </div>
    </fieldset>
  </form>
</div>
</div>
</div>
